<div id="legend">
  <legend class="">Customer</legend>
</div>
<div class="control-group">
  <!-- Username -->
  <label class="control-label"  for="username">Username</label>
  <div class="controls">
    <input type="text" id="username" name="user[name]" placeholder="username" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- Password-->
  <label class="control-label" for="address">Address</label>
  <div class="controls">
    <input type="text" id="adress" name="user[address]" placeholder="address" class="input-xlarge">

  </div>
</div>

<div class="control-group">
  <!-- Password -->
  <label class="control-label"  for="contact_no">Contact</label>
  <div class="controls">
    <input type="text" id="contact_no" name="user[contact_no]" placeholder="contact" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- City -->
  <label class="control-label"  for="city">city</label>
  <div class="controls">
    <input type="text" id="city" name="user[city]" placeholder="city" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- State -->
  <label class="control-label"  for="state">State</label>
  <div class="controls">
    <input type="text" id="state" name="user[state]" placeholder="state" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- pincode -->
  <label class="control-label"  for="pincode">Pincode</label>
  <div class="controls">
    <input type="text" id="pincode" name="user[pincode]" placeholder="pincode" class="input-xlarge">
  </div>
</div>