<div id="legend">
  <legend class="">Vehicle Request Fields</legend>
</div>

<div class="control-group">
  <!-- service type-->
  <label class="control-label" for="servicetype">ServiceType</label>
  <div class="controls">
    <select id="servicetype" name="sr[service_type_id]" class="input-xlarge">
      <option value="1">service 1</option>
      <option value="2">service 2</option>
      <option value="3">service 3</option>
      <option value="4">service 4</option>
    </select>

  </div>
</div>

<div class="control-group">
  <!-- servicecentre-->
  <label class="control-label"  for="servicecentre">ServiceCentre</label>
  <div class="controls">
    <select id="servicecentre" name="sr[service_centre_id]" class="input-xlarge">
      <option value="1">centre 1</option>
      <option value="2">centre 2</option>
      <option value="3">centre 3</option>
      <option value="4">centre 4</option>
    </select>
  </div>
</div>

<div class="control-group">
  <!-- slot-->
  <label class="control-label"  for="serviceslot">ServiceSlot</label>
  <div class="controls">
    <select id="serviceslot" name="sr[service_centre_slot_id]" class="input-xlarge">
      <option value="1">slot 1</option>
      <option value="2">slot 2</option>
      <option value="3">slot 3</option>
      <option value="4">slot 4</option>
    </select>
  </div>
</div>


