<div id="legend">
  <legend class="">Vehicle</legend>
</div>


<div class="control-group">
  <!-- model-->
  <label class="control-label" for="model">Model</label>
  <div class="controls">
    <input type="text" id="model" name="vehicle[model]" placeholder="model" class="input-xlarge">

  </div>
</div>

<div class="control-group">
  <!-- Password -->
  <label class="control-label"  for="number">Vehicle Number</label>
  <div class="controls">
    <input type="text" id="number" name="vehicle[number]" placeholder="Vehicle Number" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- owner_name -->
  <label class="control-label"  for="owner_name">Owner Name</label>
  <div class="controls">
    <input type="text" id="owner_name" name="vehicle[owner_name]" placeholder="owner name" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- State -->
  <label class="control-label"  for="year">Year</label>
  <div class="controls">
    <input type="integer" id="year" name="vehicle[year]" placeholder="year" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <!-- vehicletype-->
  <label class="control-label"  for="vehicletype">VehicleType</label>
  <div class="controls">
    <select id="vehicletype" name="vehicle[vehicle_type]" class="input-xlarge">
      <option value="1">centre 1</option>
      <option value="2">centre 2</option>
    </select>
  </div>
</div>

