<%= form_tag '/update_profile', :remote => true do -%>
    <fieldset>
      <%= render partial: "navigations/cutomer_detail_fields", locals: {
          user: @user

      }
      %>


      <br>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" style="background-color: #555; border-color: #444;">Submit</button>
        </div>
      </div>
    </fieldset>
<% end -%>