<p>
  <strong>CentreNmae:</strong>
  <%= @service_slots.service_centre_id %>
</p>

<p>
  <strong>Start Time</strong>
  <%= @service_slots.slot_start_time %>
</p>

<p>
  <strong>End Time</strong>
  <%= @service_slots.slot_end_time %>
</p>

