<%= form_tag '/super_admin/update_user', :remote => true, :method => :put  do -%>
    <fieldset>

      <div class="control-group">
        <!-- email -->
        <label class="control-label" for="e_mail">User Email</label>
        <div class="controls">
          <input type="text" id="e_mail" name="email" placeholder="User E-mail" class="input-xlarge">
        </div>
      </div>



      <div class="control-group">
        <!-- servicecentre-->
        <label class="control-label"  for="role_select">Role</label>
        <div class="controls">
          <select id="role_select" name="role" class="input-xlarge">
            <option value="super_admin">Super Admin</option>
            <option value="sco">Service Centre Owner</option>
            <option value="customer">Customer</option>
          </select>
        </div>
      </div>


      <div class="control-group">
        <!-- servicecentre-->
        <label class="control-label"  for="centrename">Service Centre</label>
        <div class="controls">
          <select id="servicecentre" name="service_centre_id" class="input-xlarge">
            <option disabled selected value> -- selecte a service centre -- </option>
            <% @service_centres.each do |sc| %>
                <option value=<%= "#{sc.id}" %>><%=sc.name %></option>
            <% end %>


          </select>
        </div>
      </div>
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" style="background-color: #555; border-color: #444;">Submit</button>
        </div>
      </div>
    </fieldset>
<% end -%>

<script>
  $("#role_select").change(makeServiceCenterRequired());

  var makeServiceCenterRequired = function() {
    if($(this).val() == "sc_owner" )
      $("#servicecentre").prop('required',true);
    else
      $("#servicecentre").prop('required',false);
  }



</script>